################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/MSFSMouseYoke/bin
/MSFSMouseYoke/obj
/packages/Nefarius.ViGEm.Client.1.21.256
.gitattributes
.gitignore
/MSFSMouseYoke/publish
