<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSFSMouseYoke.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="MSFSMouseYoke.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
            <section name="MSFSMouseYoke.settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
    </startup>
    <applicationSettings>
        <MSFSMouseYoke.Settings1>
            <setting name="window_width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="window_height" serializeAs="String">
                <value>200</value>
            </setting>
        </MSFSMouseYoke.Settings1>
    </applicationSettings>
    <userSettings>
        <MSFSMouseYoke.Settings>
            <setting name="window_width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="window_height" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="has_bordel_color" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="border_width" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="cross_length" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="cursor_cross_enabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="cursor_cross_length" serializeAs="String">
                <value>18</value>
            </setting>
            <setting name="enable_when_start" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="controller_type" serializeAs="String">
                <value>xbox360</value>
            </setting>
            <setting name="long_press_threshold" serializeAs="String">
                <value>300</value>
            </setting>
        </MSFSMouseYoke.Settings>
        <MSFSMouseYoke.settings>
            <setting name="window_width" serializeAs="String">
                <value>200</value>
            </setting>
            <setting name="window_height" serializeAs="String">
                <value>200</value>
            </setting>
        </MSFSMouseYoke.settings>
    </userSettings>
</configuration>
